:root {
  --body-color: rgb(247, 247, 247);
  --dark-color: #000;
  --footer-color: rgb(38, 38, 38);
  --light-color: #fff;
  --nav-color: rgb(28, 210, 135);
  --hero-color: #f7f7f7;
  --star-color: rgb(95, 99, 104);
}
