.footer_upper {
  padding: 24px 0;
  border-bottom: 1px solid var(--hover-color);
}
.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.socials_group {
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  display: flex;
  margin: 0;
  font-family: Roboto;
}
.title {
  flex: 0 0 auto;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: Roboto;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.text {
  margin-right: 24px;
}
.socials_group a {
  color: #1967d2;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0;
  max-width: 100%;
  list-style: none;
  align-self: center;
}
.socials_iteam {
  flex: 0 0 auto;
  align-items: center;
  align-self: center;
  display: inline-flex;
  height: 48px;
  width: 48px;
  margin-left: 0;
  margin-right: 8px;
}
.socials_iteam a {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  transition: all 0.3s;
  border-radius: 50%;
  margin: 0 auto;
  padding: 2px;
}
.socials_iteam a:hover {
  background-color: var(--hover-color);
}
