.footer {
  margin-top: 80px;
  background-color: var(--box-color);
}
.footer svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  fill: var(--star-color);
}
.footer_global {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
.global_links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 100%;
  list-style: none;
  padding: 0 0 24px;
}
.footer_link {
  color: var(--primary-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 48px;
  min-width: 48px;
  padding: 12px 0;
  text-decoration: none;
  transition: all 0.3s;
}
.footer_link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .footer_link {
    padding: 5px 0;
    line-height: 24px;
    min-height: 0px;
    min-width: 0px;
  }
}
